header{
    height: 50px;
    position: relative;
}

#Logo img{
    width: fit-content;
    height: 50px;
}
#Logo h4{
    display: inline-block;
}
#Logo{
    position: absolute;
    display: flex;
    place-items: center;
}
button{
    border: none;
    background-color: inherit;
}
button.selected{
    background-color: black;
    color: white;
    padding: 10px 12px;
}
.buttonClass{
    position: absolute;
    right: 0;
    top: 15px;
    text-align: end;
}

.is-light{
    color: gray;
    font-weight: normal;
}
.bluebutton{
    display: flex;
    flex-direction: row;
}
#contact{
    
  font-family:Arial, Helvetica, sans-serif;
  background-color: #2660FF;
  font-weight:normal;
  color: white;
  padding: 5px;
}
#main {
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing:border-box;
}
#sidebar{
    float:right;
    width:30%;
    padding:10px;
    box-sizing:border-box;


}

#h6 {
        float:right;
        width:50%;
       box-sizing: border-box;
    }
#h7{
    float:right;
    width:50%;
    box-sizing: border-box;
    }
    
